Debug/

.cproject*

.project*

*.log

*.xml

_htmresc

*.html

*.chm

*ioc*

*.settings

*.s

*.prefs

*.mxproject

.metadata/

*.launch

*.lock

#PCB
PCBs/MainBoard/Sterownik-DC-backups/
PCBs/MainBoard/Sterownik-DC.kicad_prl
PCBs/MainBoard/fp-info-cache
PCBs/ConnsBoard/~Sterownik-DC.kicad_pcb.lck